.any-question-or,
.contact-us {
  position: relative;
}
.any-question-or {
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: #717171;
  text-align: center;
}
.contact-us-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.contact-information {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.connect-with-our {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  color: #3b3b3b;
}
.contactus2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bxsphone-call-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.a {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.bxsphone-call-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.dartmouth-street-boston {
  flex: 1;
  position: relative;
}
.contactus3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  font-size: var(--font-size-base);
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--material-theme-sys-light-on-tertiary-container);
  width: 30px;
  height: 30px;
}
.vector-icon {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 23.33%;
  right: 23.33%;
  bottom: 26.67%;
  left: 26.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-parent {
  text-decoration: none;
  position: relative;
  width: 30px;
  height: 30px;
}
.streamlinelinkedin-solid-icon {
  position: relative;
  width: 15px;
  height: 15px;
  overflow: hidden;
  flex-shrink: 0;
}
.streamlinelinkedin-solid-wrapper {
  text-decoration: none;
  border-radius: 43px;
  background-color: var(--material-theme-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.contactus1,
.group-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
}
.contactus1 {
  align-self: stretch;
  flex: 1;
  border-radius: 29px;
  background-color: var(--material-theme-sys-light-tertiary-container);
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  gap: 20px;
}
.first-name,
.textbox {
  align-self: stretch;
  position: relative;
}
.first-name {
  line-height: 20px;
  font-weight: 500;
}
.textbox {
  border: 1px solid var(--color-gray-100);
  background-color: transparent;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.first-name-parent,
.frame-group {
  display: flex;
  justify-content: flex-start;
}
.first-name-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.frame-group {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-10xl);
}
.textbox4 {
  border: 1px solid var(--color-gray-100);
  background-color: transparent;
  align-self: stretch;
  position: relative;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  height: 98px;
  overflow: hidden;
  flex-shrink: 0;
}
.message-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.send-message {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--material-theme-white);
  text-align: center;
}
.send-message-wrapper {
  cursor: pointer;
  border: 0;
  padding: 10px 18px;
  background-color: var(--material-theme-black);
  border-radius: 10px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.12);
  flex-direction: row;
  align-items: flex-start;
}
.contactus1-parent,
.frame-parent,
.send-message-wrapper {
  display: flex;
  justify-content: flex-start;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-xl);
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.contactus1-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  font-size: 28px;
  color: var(--material-theme-sys-light-on-tertiary-container);
}
.contactusdiv {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  gap: 50px;
  text-align: left;
  font-size: 40px;
  color: var(--material-theme-black);
  font-family: var(--font-poppins);
}

/* Mobile Phones */
@media only screen and (max-width: 767px) {
  body{
    padding: 20px;    
  }
  .menuheader {
    display: none;
  }
  .menu {
    display: flex;
  }
  .contactusdiv {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 20px;
    text-align: left;
    font-size: 25px;
    color: var(--material-theme-black);
    font-family: var(--font-poppins);
  }
  .contactus1-parent {
    align-self: stretch;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 30px;
    font-size: 28px;
    color: var(--material-theme-sys-light-on-tertiary-container);
  }
  .contact-information{
    font-size: 25px;
  }
  .frame-parent{
    width: 100%;
  }

}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .contactusdiv {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 20px;
    text-align: left;
    font-size: 25px;
    color: var(--material-theme-black);
    font-family: var(--font-poppins);
  }
  .contactus1-parent {
    align-self: stretch;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 30px;
    font-size: 28px;
    color: var(--material-theme-sys-light-on-tertiary-container);
  }
  .contact-information{
    font-size: 25px;
  }
  .frame-parent{
    width: 100%;
  }
}

/* Small Desktops and Laptops */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

}